
<h1>Nueva Ruta</h1>

<div id="map" style="width:100%;height:500px;"></div>

<script>
  var valoreso = [
  { lat: 37.772, lng: -122.214 },
  { lat: 21.291, lng: -157.821 },
  { lat: -18.142, lng: 178.431 },
  { lat: -27.467, lng: 153.027 }
  ];    
</script>


<button id="botonDibujar" onclick="initMap(valoreso)"
style="width:30%;display: block;margin-left: 2;margin-right: auto; border-radius: 5px"
class="btn btn-info btn-lg btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
Mostrar Ruta
</button>

<BR>
<div id="idTexto" style="visibility: hidden">{{nombre}}</div>
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-body">
          <button id="iniciar" class="btn btn-success btn-block">
            Iniciar Ruta
          </button>
        </div>
    </div>
  </div>


  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-body">
        
          <button id="parar" class="btn btn-danger btn-block">
                Parar Ruta
          </button>

      </div>
    </div>
  </div>
</div>