<div class="jumbotron mt-4">
  <h1 class="display-4">BIENVENIDOS AL GPS - JHENAOM6</h1>
  <br>
  <p class="lead">Aquí podrás gestionar tus rutas más frecuentes, guardando, buscando y compartiendo con tus amigos los lugares que más disfrutas.</p>
  
</div>
